.Card {
  border: 1px solid oklch(60% var(--yellow));
  background-color: oklch(var(--black) / 0.5);
  transition: 0.2s ease;
  color: oklch(80% var(--lemon));
}

.Card h3 {
  font-size: 24px;
  font-weight: 600;
  color: oklch(80% var(--yellow));
}
.Card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.Card a {
  font-size: 14px;
  border: 1px solid oklch(60% var(--yellow));
  transition: 0.1s ease;
}
.Card a:hover {
  background-color: oklch(var(--black) / 0.6);
}
.Card a:active {
  background-color: oklch(var(--black) / 0.8);
  color: oklch(90% var(--lemon));
}

@media (pointer: fine) {
  .Card:hover {
    background-color: oklch(var(--gray) / 0.6);
  }
}
